*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
    border:  none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color:  #ededed;
    --text-color: black;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;

}

body{
    color: var(--bg-color);
    background: var(--bg-color);
    color: var(--text-color);
}

#header {
    display:  flex;
    justify-content: space-between;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s; 
}

.navbar {
    padding: 1%;
} 

.navbar a.active {
    color: var(--main-color);
}

 .box2 {
    justify-content: space-between;
    width: 30%;
    height: 20%;
    padding: 5%;
    margin: auto;
}

.box2 .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 1%;
    background: maroon;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    z-index: 1;
    padding: 3%;
 }

 .box2 .btn:hover {
    color: white;
 }

 .box2 .btn :hover::before {
    width: 100%;
 }

 .box {
    display: flex;
    width: 20%;
    padding: 1%;
    margin-left:  15%;
}

.box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #C4C4C4;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    z-index: 1;
    width: 261px;
    height: 50px;
    flex-shrink: 0;
    margin: 10%;
 }

 .home-content{
    margin-left: 5%;
    margin-top: 2%;
    color:  maroon;
    font-weight: bold;
    font-size: large;
 }


  /*footer*/
 .footer{
    display: flex;
    place-items: center;
    height: 40vh;
    background-color: gray;
 }

 .footer__left{
    height: 70%;
    width: 30%;
    margin: auto;
    font-size: 120%;
 }

 .Bag {
    width: 20%;
    height: 50vh;
 }

 .img3 {
    display: flex;
    justify-content: space-between;
    padding: 2%;

 }